html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}


body {
	background-image: url(img/bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	background-color: #464646;

}

.weatherWidget {
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 10px;
}

#inputCity {
	font-size: 30px;
	border-radius: 20px;
	border: 7px solid #d35400;
	padding: 10px;
}

#inputCity:focus {
	outline: 0;
}

.container {
	height: 100%;
	display: table;
	width: 100%;
	padding: 0;
}


#button {
}

.btn {
	font-size: 30px;
	margin-left: 30px;
	margin-bottom: 10px;

}
.btn:focus {
	outline: 0;
}

.row {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}

.centering {
	float: none;
	margin: 0 auto;
}